.red {
    color: #ff2c2d;
}

.green {
    color: #17ff2e;
}



/* Se tiver uma tag code dentro de um item de uma lista */
li>code {
    color: goldenrod;
}

/* O padrão de ".reveal pre" é de 90%, mas acho que quando coloco um bloco
   dentro de um item de uma lista é melhor deixar em auto, que vai pegar
   100%, já que os itens em uma lista já são um pouco menores. Além disso,
   adiciona uma pequena margem a direita. */
.reveal li>pre {
    width: auto;
    margin-right: 3%;
}

body {
    counter-reset: ipython-in;
    /* counter-increment: ipython-in; */
}


.ipython-in:before {
    counter-increment: ipython-in;
    content: "In  [" counter(ipython-in) "]: ";
    color:#17ff2e;
}

.ipython-out:before {
    content: "Out [" counter(ipython-in) "]: ";
    color:#ff2c2d;
}

code-terminal {
    counter-reset: ipython-in;
}

@media print {
    li>code {
        color: #b8860b;
    }

    .green {
        color: DarkGreen;
    }

    .red {
        color: DarkRed;
    }

    .ipython-in:before {
        color: DarkGreen;
    }

    .ipython-out:before {
        color: DarkRed;
    }

    /* Code block font is too slim in print. Let's make it bolder */
    pre code {
        font-weight: 900 !important;
    }
}

.reveal .container {
    display: block;
}

.reveal .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.reveal .numpy_table table td{
    color: black;
    border: 1px solid gray;
    background-color: white;
}


.reveal .container:before {
    /* content: ""; */
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* width: 0; */
    /* adjust for white space between pseudo element and next sibling */
    /* margin-right: -.25em; */
    /* stretch line height */
    /* height: 100%;  */
}

.reveal .element {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    /* white-space: normal; */
}

.reveal in {
    display: inline-block;
    margin-top: 10px;
}

.reveal in:before {
    counter-increment: ipython-in;
    content: "In  [" counter(ipython-in) "]: ";
    color:#17ff2e;
}

.reveal output {
    display: inline-block;
    /* transform: translateY(-10px); */
}

/* Apenas o primeiro "in" dentro do code é afetado */
code>in:first-of-type {
    margin-top: 0px;
}

.reveal output:before {
    content: "Out [" counter(ipython-in) "]: ";
    color:#ff2c2d;
}


/* .reveal svg rect:hover, text:hover { */
/*     fill:red !important; */
/* } */

/* Local Variables: */
/* eval: (rainbow-mode t) */
/* End: */
