.red {
    color: #ff2c2d;
}

.green {
    color: #17ff2e;
}



/* Se tiver uma tag code dentro de um item de uma lista */
li>code {
    color: goldenrod;
}

/* O padrão de ".reveal pre" é de 90%, mas acho que quando coloco um bloco
   dentro de um item de uma lista é melhor deixar em auto, que vai pegar
   100%, já que os itens em uma lista já são um pouco menores. Além disso,
   adiciona uma pequena margem a direita. */
.reveal li>pre {
    width: auto;
    margin-right: 3%;
}

body {
    counter-reset: ipython-in;
    /* counter-increment: ipython-in; */
}


.ipython-in:before {
    counter-increment: ipython-in;
    content: "In  [" counter(ipython-in) "]: ";
    color:#17ff2e;
}

.ipython-out:before {
    content: "Out [" counter(ipython-in) "]: ";
    color:#ff2c2d;
}

/* Local Variables: */
/* eval: (rainbow-mode t) */
/* End: */
